.image{
    // height:40em;
    background-size:auto;
    background-repeat: repeat;
    width:auto;
    background-image:url('../resources/background.jpg');
    background-position:50% 50%;
    color: #fff;
    opacity: 0.8;
  }

  .test {
    color: black;
  }
